QDialog#LoginDialog, #RegisterDialog {
    background-color:rgb(255,255,255)
}

#user_Label, #pass_Label{
    color:black;
}

#err_Tip[state='normal']{
    color: green;
}

#err_Tip[state='err']{
    color: red;
}
